.sidebar{
  background-color: white;
  position: fixed;
  top: 45px;
  left: 0;
  bottom: 0;
  width: 65px;
  z-index: 1001;
}

.sidelink{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75px;
}

.sidelink img{
  height: 30px;
  margin-bottom: 3px;
}

.sidelink div{
  font-family: Roboto;
  font-size: 10px;
}

.sidelink:hover{
  cursor: pointer;
  background-color: rgb(235,235,235);
}